body {
  text-align: center;
}

.display{
  margin:.5em;
}

.card-body{
  display:flex;
  justify-content: space-evenly;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: .5em;
  height: 614px;
}

.btn {
  height: 38px;
}