body {
  text-align: center;
}

.submit-form{
  background-image: url(https://www.cordonbleu.edu/Files/MediaFile/58300.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.search-function{
  display:flex;
  margin:1em;
  justify-content: center;
}

.card-body{
  display:flex;
  justify-content: space-evenly;
  padding: 0 0 .5em 0;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: .5em;
}
div.card{
  height:40%;
}


.btn {
  height: 38px;
}

.card-img-top{
  height:170px;
}
