@font-face {
  font-family: veganStyle;
  src: url(/public/Delhi.ttf)
}

@font-face {
  font-family: caviardreams;
  src: url(/public/CaviarDreams.ttf)
}

@font-face {
  font-family: caviardreams-bold;
  src: url(/public/Caviar_Dreams_Bold.ttf)
}

body {
  text-align: center;
  background-color: white;
  font-family: caviardreams;
}

h4 {
  font-family: caviardreams;
  font-size: 4vw;
}

.add-form {
  font-family: caviardreams-bold;
}

.submit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pexels-cottonbro-studio-3296280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
}

.site-header {
  font-family: veganStyle;
  font-size: calc(12px + 2vw);
  margin-left: 2vw;
  margin-bottom: 0;
}

.site-subheader {
  font-family: veganStyle;
  font-size: 5vw;
  line-height: 0;
}

.submit-recipe-header {
  margin-top: 20px;
}

.form-row {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.veggie-spicy {
  display: flex;
  justify-content: center;
}

.veggie, .spicy {
  margin: 10px;
}

.new-recipe-submit {
  margin: 1em;
  background-color: white !important;
  color: black;
}

.search-function{
  display:flex;
  margin-bottom: .5em;
  margin-top: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.search-form{
  display:flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}
.searchbar{
  border-radius: 10px;
  width: 22vw;
  min-width: 300px;
  padding:3px;
}

.card-body{
  display:flex;
  justify-content: space-evenly;
  padding: 0 0 .5em 0;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: .5em;
}
div.card{
  height:40%;
}


.btn {
  height: 38px;
}

.card-img-top{
  height:250px;
  object-fit: cover;
}

.link-button:hover, .delete-button:hover, .edit-button:hover {
  background-color: lightgray;
}

.link-button {
  background-color: #CFACB3;
}

.delete-button {
  background-color: #08213F;
  color: white;
}

.edit-button {
  background-color: #E36b51;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  background-color: rgb(251, 251, 251);
}

.user-header p {
  margin: 0 10px;
}

.create-account-btn-2 {
  background-color: white;
  color: black;
  border: 1px solid black;;
  font-family: caviardreams;
  text-transform: uppercase !important;
}

.create-acc-btn, .login-btn, .logout-btn {
  margin-right: 1em;
  text-transform:uppercase;
  background-color: white;
  color: black;
  border-color: black;
  font-size: calc(8px + .5vw);
}

.create-acc-div {
  position: fixed;
  left: 0;
  right: 0;
  top: 32%;
  margin: 0 auto;

  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;

}

.create-acc-main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.573);
  z-index: 2;
}

.close-modal {
  height: 20px;
  width: 20px;
  padding: 0 0 2px 0 ;
  line-height: 0;

}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
}

.create-acc-header {
  margin-bottom: 20px;
}

.create-acc-div p {
  text-align: left;
  margin: 0;
}

.error-message {
  position: absolute;
  bottom: 59px;
  text-align: center !important;
  left: 0;
  width: 100%;
}

.account-creation-message {
  margin: 40px auto !important;
  text-align: center !important;
}


/* Edit modal */
.edit-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.573);
    z-index: 2;
}

.edit-div {
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

.form-box {
  display:flex;
  margin-bottom: 1em;
}

.input {
  width: 80%;
  border-radius:5px;
  font-family: caviardreams !important;
  font-size: 10px !important;
  margin-left: auto;
  margin-right: auto
}

.form-control {
  font-family: caviardreams !important;
  font-size: calc(10px + .3vw) !important;
}

.submit-edit-button {
  margin-right: 15px;
}

.spicy-veggie-icons {
  position: absolute;
  top: 0;
  right: 5px;
  text-align: right;
}

.veg-symbol {
  width: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.login-or-create-div {
  display: flex;
  justify-content: center;
  align-items:baseline;
}

.post-ternary-negative {
  margin-top: 60px;
  margin-bottom: 100px;
}

.or {
  margin: 10px;
}

.heart {
  position: absolute;
  width: 40px;
  top: 14px;
  left: 5px;
  text-align: center;
}

.heart:hover {
  width: 36px;
  cursor: pointer;
}

.submit-form {
  text-shadow:2px 2px 4px black, 2px 2px 4px black, 2px 2px 4px black, 2px 2px 4px black;

}

h5 {
  margin: 0.2em;
}

.submitted-by {
  background-color: white;
  position: absolute;
  left: 0px;
  top: 230px;
  padding: 2px 5px;
  font-size: 12px;

  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;

}

.star-rating {
  margin-bottom: 10px;
}

.avg-star-container {
  margin-bottom: 10px;
}

.gold-star {
  color: rgb(255, 132, 0)
}

.star-rating button {
  background-color: transparent;
  border:none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.rating-p {
  margin-bottom: 2px;
}

.btn{
  border-color: black;
}

.no-ratings {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  /* .site-header {
    font-size: 80px;
  } */
  .searchbar {
    font-size: 12px;
    height: 40px;
  }

  .site-subheader {
    font-size: 40px;
  }

  .login-or-create-div {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  h4{
    font-size: 25px;
  }
  .edit-div {
    width:350px;
    position: absolute;
    top: 20px;
  }

  .create-acc-div {
    width: 350px;
  }

  .edit-div input {
    width: 300px;
    position: relative;
    right: 25px;
  }
  .vegetarian-edit {
    position: relative;
    right: 20px;
  }

  .spicy-edit {
    position: relative;
    right: 150px;
  }

  
}

